{% extends "index.html" %}

{% block content %}

<a href="{% url 'source-list' %}">back to list</a><br>

<form method="post" action="{% if source.slug %}
			    {% url 'source-edit' source.slug %}
			    {% else %}
			    {% url 'source-add' %}
			    {% endif %}">
{% csrf_token %}

<table id="source_form">
{{ form.as_table }}
</table>
<br>
<button type="submit">{% if source.slug %}
			    Update
			    {% else %}
                            Create
			    {% endif %}</button>
</form>

{% endblock %}
