
#title {
    width: 736px;
    height: 60px;
    border: thin solid;
    margin-bottom: 3px;
}


#nav {
    float: left;
    width: 100px;
    border: thin solid;
    height: 410px;
    padding: 5px;
}

.nav_heading {
    text-align: center;
    font-size: 15px;
    font-decoration: italics;
    font-weight: bold;
}

.app_detail_heading {
    font-size: 18px;
    font-weight: bold;
}
.app_detail_label {
    font-size: 16px;
    font-weight: bold;
}
.app_detail_value {
    font-size: 16px;
}

#content {
    margin-left: 4px;
    float: left;
    width: 600px;
    border: thin solid;
    min-height: 400px;
    padding: 10px;
}

#campaign_form {
    text-align: left;
    align-vertical: text-top;
}
#camp_list_div {
    border: thin solid;
    width: 100%;
}
#camp_list_div td {
    border: thin solid;
}

.removeLink{
    padding-left: 4px;
}
.onoffLink{
    padding-left: 4px;
}