{% extends "null_index.html" %}

{% block content %}

<a href="{% url 'article-list' %}">back to list</a><br>

<form method="post" action="{% if article.slug %}
			    {% url 'article-edit' article.slug %}
			    {% else %}
			    {% url 'article-add' %}
			    {% endif %}">
{% csrf_token %}

<table id="article_form">
{{ form.as_table }}
</table>
<br>
<button type="submit">{% if article.slug %}
			    Update
			    {% else %}
                            Create
			    {% endif %}</button>
</form>

{% endblock %}
