{% extends "null_index.html" %}

{% block content %}

<a href="{% url 'campaign-list' %}">back to list</a><br>

<form method="post" action="{% if campaign.slug %}
			    {% url 'campaign-edit' campaign.slug %}
			    {% else %}
			    {% url 'campaign-add' %}
			    {% endif %}">
{% csrf_token %}

<table id="campaign_form">
{{ form.as_table }}
</table>
<br>
<button type="submit">{% if campaign.slug %}
			    Update
			    {% else %}
                            Create
			    {% endif %}</button>
</form>

{% endblock %}
