Django==1.6.1
django-haystack==2.1.0
django-localflavor==1.0
django-localflavor-us==1.0
django-nose==1.2
eventlog==0.6.2
geoip2==0.2.2
ipaddr==2.1.10
ipython==1.1.0
jsonfield==0.9.20
pep8==1.4.6
pydns==2.3.6
pyflakes==0.7.3
pyhash==0.5.0
python-Levenshtein==0.10.2
python-mcrypt==1.1
python-memcached==1.53
pytz==2013b
requests==1.2.3
virtualenv==1.9.1
